@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype') format('truetype');
    font-weight: normal;
}

body{
    background-color: #cceecc
}

.vertice{
    border-radius:10px;

}

.margem{
    text-align: justify;
}


header{

    background-image: linear-gradient(#75e275a1, black);
    color: white;
    padding: 10px;
    
}

header > h1{
    text-align: center;
}

header > h2{
    text-align: center;
}

.principal{

    font-size: 15px;
    font-weight: lighter;

}

div {

    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

div:hover{
    text-decoration: underline;
}


#alinhamento{
    
    display: inline-block;
}

section{
    background-color: white;
}

.color{
    color: green;
    font-weight: bold;
    text-decoration: none;

}

.colorlink{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.meio{
    text-align: center;
}
.video{
    background-color: #033603;
    text-align: center;
}




footer{

    font-family: 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    background-color: darkolivegreen;
    text-align: center;
    color: #cceecc;

}

.negrito{
    font-weight: bold;

}

p{
    text-indent: 30px;
}

.lista{
    list-style-type: none;
    font-weight: lighter;
}

.marca-texto{
    background-image: linear-gradient(to left, white, rgba(133, 216, 133, 0.938));
    
    font-family: 'android', 'Courier New', Courier, monospace;
}

.caixa-final{
    background-color: #79de69d7;
    border-radius: 5px 5px 0px 0px;
    
}

.cor-fundo{
    background-color: #89a889bd;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.427);
    
}

.final{

    border-width: 0px;
    border-style: solid;
    border-color: white;
}
